body {
  margin: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.item {
  border: 4px solid purple;
  border-radius: 10px;
  padding: 10px;
  background: white;
  box-shadow: 1px 2px 6px rgba(52, 52, 52, 0.468);
}

.task1.container {
  display: grid;
  height: 80vh;
  grid-template-rows: auto 1fr auto;
}

/* Task 2 */

.height-40 {
  height: 40vh;
}

.task2.container {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
}

.task2 .item-1 {
  grid-column: 2 / span 4;
}

.task2 .item-2 {
  grid-column: 6 / span 6;
}

/* Task 3 */

.task3.container {
  display: grid;
  height: 80vh;
  gap: 18px;

  grid-template-rows: auto auto 1fr auto auto auto;
}

/*Tablet*/
@media (min-width: 720px) {
  .task3.container {
    grid-template-columns: repeat(12, 1fr);
  }

  .task3 .header {
    grid-column: 1 / span 12;
  }

  .task3 .navigation {
    grid-column: 1 / span 12;
  }

  .task3 .main {
    grid-column: 3 / span 10;
  }

  .task3 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .task3 .ads {
    grid-column: 1 / span 2;
  }

  .task3 .footer {
    grid-column: 3 / span 10;
  }
}

/*Desktop */
@media (min-width: 1020px) {
  .task3 .navigation {
    grid-column: 3 / span 8;
  }

  .task3 .main {
    grid-column: 3 / span 8;
  }

  .task3 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .task3 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / span 2;
  }

  .task3 .footer {
    grid-column: 1 / span 12;
  }
}

/* Task 3 Option-2 Using textarea*/

.task3-2.container {
  display: grid;
  height: 80vh;

  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 18px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "sidebar"
    "ads"
    "footer";
}

.task3-2 .header {
  grid-area: header;
}

.task3-2 .navigation {
  grid-area: nav;
}

.task3-2 .main {
  grid-area: main;
}

.task3-2 .sidebar {
  grid-area: sidebar;
}

.task3-2 .ads {
  grid-area: ads;
}

.task3-2 .footer {
  grid-area: footer;
}

/* tablet*/
@media (min-width: 720px) {
  .task3-2.container {
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "sidebar main main"
      "ads footer footer";

    grid-template-rows: auto auto 1fr auto;
  }
}

/*Laptop*/
@media (min-width: 1020px) {
  .task3-2.container {
    grid-template-areas:
      "header header header header"
      "sidebar nav nav ads"
      "sidebar main main ads"
      "footer footer footer footer";

    grid-template-rows: auto auto 1fr auto;
  }
}

/*Task 4 - Responsive Layout without Media Query */
.task4.container {
  display: grid;
  gap: 18px;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*Task 5*/
.task5.container {
  display: grid;
  height: 80vh;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.task5 .item-1 {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
}

.task5 .item-2 {
  grid-row: 4 / span 3;
  grid-column: 4 / span 3;
}

.task5 .item-3 {
  grid-row: 7 / span 3;
  grid-column: 7 / span 3;
}

.task5 .item-4 {
  grid-row: 10 / span 3;
  grid-column: 10 / span 3;
}
